html {
    font-family: sans-serif;
    display: inline-block;
    margin: 0px auto;
    text-align: left;
    padding: 10vh 10vw;
    background: #123;
    color: #789;
}

h2 {
    font-size: 3.0rem;
}

p {
    font-size: 2.0rem;
}

.vars {
    color: #21ada8;
    font-size: 5.0rem;
    font-weight: 600;
}

div {
    color: #456;
}

.units {
    font-size: 1.2rem;
}

.dht-labels {
    font-size: 1.5rem;
    vertical-align: middle;
    padding-bottom: 15px;
}